<%- include('head.ejs') %>
<main>
<section>

	<h1>Tell us about yourself, what do you like?</h1>

<form action="/add" method="post">
<label>
	Naam:
	<input type="text" name="name">
</label> <br>
<label>
	Favorite food 1
	<input type="text" name="interest1">
</label> <br>
<label>
	Favorite food 2
	<input type="text" name="interest2">
</label> <br>
<label>
	Tell us about yourself
	<textarea name="about" rows="5" ></textarea>
</label> <br>

<input type="submit" value="Toevoegen">
</form>
</section>
</main>
<%- include('foot.ejs') %>

