<%- include('head.ejs') %>
<form action="/add" method="post">
<label>
	Naam
	<input name="name">
</label> <br>
<label>
	Interesse 1
	<input name="interest1">
</label> <br>
<label>
	Interesse 2
	<input name="interest2">
</label> <br>
<label>
	Vertel iets over jezelf
	<textarea name="about" rows="5" ></textarea>
</label> <br>
<!-- <label> 
    Upload een mooie foto
    <input type="file" name="avatar" accept="image/*">
</label> -->

<input type="submit" value="Toevoegen">
</form>
<%- include('foot.ejs') %>

